# Secrets / variables d'environnement
.env
.env.*
!.env.example

# Environnement virtuel Python
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log